@model StateTile
@{
    ViewData["Title"] = (Model == null ? "Add" : "Edit") + " Tile: State";

    var header = @"<span class=""va-bottom " + new StateTile().IconClassName + @"""></span> " + (Model == null ? "Add" : "Edit") + " Tile: State";
}

@section TopNav
{
    <partial name="BaseTileEditBreadcrumbs" model="header" />
}

<h1>
    @Html.Raw(header)
</h1>

<form class="ui form" method="post" asp-action="Save" asp-route-page="@Context.Request.RouteValues["page"]">
    <input type="hidden" name="originalName" value="@Model?.Name" />
    <div class="ui grid">
        <div class="row">

            <div class="six wide widescreen eight wide large screen twelve wide computer fourteen wide tablet sixteen wide mobile column">
                <partial name="BaseTileEditor" model="@Model" />
            </div>

            <div class="six wide widescreen eight wide large screen twelve wide computer fourteen wide tablet sixteen wide mobile column">
                <h3>State Tile Details</h3>
                <div class="ui segment">
                    <div class="field">
                        <label asp-for="EntityId"></label>
                        <select class="ui search selection dropdown" asp-for="EntityId" asp-items="ViewBag.Entities"></select>
                        <span class="ui up pointing small red label" asp-validation-for="EntityId"></span>
                    </div>
                    <div class="field">
                        <label asp-for="OverrideLabel"></label>
                        <div class="ui left icon input">
                            <i class="font icon"></i>
                            <input asp-for="OverrideLabel" />
                        </div>
                        <span class="ui up pointing small red label" asp-validation-for="OverrideLabel"></span>
                        <p><small>By default, the entity's <em>friendly name</em> will be used. Enter an override if desired.</small></p>
                    </div>
                    <div class="field">
                        <label asp-for="DisplayTextOn"></label>
                        <div class="ui left icon input">
                            <i class="font icon"></i>
                            <input asp-for="DisplayTextOn" />
                        </div>
                        <span class="ui up pointing small red label" asp-validation-for="DisplayTextOn"></span>
                        <p><small>Optional. If set, and the entity's state is "on", this text will display instead.</small></p>
                    </div>
                    <div class="field">
                        <label asp-for="DisplayTextOff"></label>
                        <div class="ui left icon input">
                            <i class="font icon"></i>
                            <input asp-for="DisplayTextOff" />
                        </div>
                        <span class="ui up pointing small red label" asp-validation-for="DisplayTextOff"></span>
                        <p><small>Optional. If set, and the entity's state is "off", this text will display instead.</small></p>
                    </div>
                    <div class="field">
                        <div class="ui checkbox">
                            <input asp-for="RoundDecimals" />
                            <label asp-for="RoundDecimals"></label>
                        </div>
                        <span class="ui up pointing small red label" asp-validation-for="RoundDecimals"></span>
                        <p><small>If checked, and the state of this entity can be expressed as a decimal, the decimal is rounded to a whole number.</small></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="sixteen wide column">
                <button type="submit" class="ui green icon labeled button">
                    <i class="@(Model == null ? "plus" : "save") icon"></i>
                    @(Model == null ? "Add" : "Edit") Tile
                </button>
            </div>
        </div>
    </div>
</form>