@model List<BaseTile>
@{
    ViewData["Title"] = "Edit Tiles";
}

<h1><i class="expand icon"></i> Edit Tiles</h1>

<partial name="Alerts" />

<a asp-action="AddTile" asp-route-page="@Context.Request.RouteValues["page"]" class="ui green icon labeled button">
    <i class="add icon"></i>    
    Add Tile
</a>

<table class="ui compact striped celled collapsing definition table">
    <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Type</th>
            <th>Entity ID</th>
        </tr>
    </thead>
    <tbody>
        @if (Model == null || !Model.Any())
        {
            <tr class="info"><td colspan="4"><em>No tiles. Go ahead and add your first one!</em></td></tr>
        }
        else
        {
            @foreach (var tile in Model)
            {
                var entityTile = tile as BaseEntityTile;
                <tr>
                    <td>
                        <a class="ui mini yellow basic circular icon button" asp-action="EditTile" asp-route-name="@tile.Name" asp-route-page="@Context.Request.RouteValues["page"]" title="Delete this tile">
                            <i class="pencil icon"></i>
                        </a>
                        <a class="ui mini red basic circular icon button" onclick="PageUtils.ConfirmDelete" asp-action="DeleteTile" asp-route-name="@tile.Name" asp-route-page="@Context.Request.RouteValues["page"]" title="Delete this tile">
                            <i class="trash icon"></i>
                        </a>
                    </td>
                    <td>@tile.Name</td>
                    <td><span class="va-top @tile.IconClassName"></span> @tile.Type</td>
                    <td><code>@entityTile?.EntityId</code></td>
                </tr>
            }
        }
    </tbody>
</table>