@model NavigationTile
@{
    ViewData["Title"] = (Model == null ? "Add" : "Edit") + " Tile: Navigation";

    var header = @"<span class=""va-bottom " + new NavigationTile().IconClassName + @"""></span> " + (Model == null ? "Add" : "Edit") + " Tile: Navigation";
}

@section TopNav
{
    <partial name="BaseTileEditBreadcrumbs" model="header" />
}

<h1>
    @Html.Raw(header)
</h1>

<form class="ui form" method="post" asp-action="Save" asp-route-page="@Context.Request.RouteValues["page"]">
    <input type="hidden" name="originalName" value="@Model?.Name" />
    <div class="ui grid">
        <div class="row">

            <div class="six wide widescreen eight wide large screen twelve wide computer fourteen wide tablet sixteen wide mobile column">
                <partial name="BaseTileEditor" model="@Model" />
            </div>

            <div class="six wide widescreen eight wide large screen twelve wide computer fourteen wide tablet sixteen wide mobile column">
                <h3>Navigation Details</h3>
                <div class="ui segment">
                    <div class="field">
                        <label asp-for="Mode"></label>
                        <select class="ui dropdown" asp-for="Mode">
                            <option value="home">Home</option>
                            <option value="nav">Navigate</option>
                            <option value="refresh">Refresh</option>
                        </select>
                        <span class="ui up pointing small red label" asp-validation-for="Mode"></span>
                    </div>
                    <div class="field">
                        <label asp-for="Target"></label>
                        <select class="ui dropdown" asp-for="Target" asp-items="@ViewBag.Pages"></select>
                        <span class="ui up pointing small red label" asp-validation-for="Target"></span>
                        <p><small>Only used if "Mode" is "Navigate".</small></p>
                    </div>
                    <div class="field">
                        <label asp-for="DisplayIcon"></label>
                        <div class="ui left icon input">
                            <i class="large icon mdi-icon-placeholder"></i>
                            <input asp-for="DisplayIcon" />
                        </div>
                        <span class="ui up pointing small red label" asp-validation-for="DisplayIcon"></span>
                        <p><small>Enter a Material Design icon name. Do not include "mdi" or the "mdi-" prefix (e.g. for "mdi-home", just enter "home").</small></p>
                    </div>
                    <div class="field">
                        <label asp-for="Label"></label>
                        <div class="ui left icon input">
                            <i class="font icon"></i>
                            <input asp-for="Label" />
                        </div>
                        <span class="ui up pointing small red label" asp-validation-for="Label"></span>
                        <p><small>Enter a label to show on the tile.</small></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="sixteen wide column">
                <button type="submit" class="ui green icon labeled button">
                    <i class="@(Model == null ? "plus" : "save") icon"></i>
                    @(Model == null ? "Add" : "Edit") Tile
                </button>
            </div>
        </div>
    </div>
</form>