@model TileWithLayoutViewModel

    <div id="tile-@Model.Tile.Name" data-tile-name="@Model.Tile.Name" data-tile-type="@Model.Tile.TypeProper" class="tile tile-loading tile-type--@Model.Tile.Type" style="left: @(Model.Layout.XPos)px; top: @(Model.Layout.YPos)px; width: @(Model.Tile.GetTileSizeX(ViewBag.BaseTileSizePx, ViewBag.TilePadding))px; height: @(Model.Tile.GetTileSizeY(ViewBag.BaseTileSizePx, ViewBag.TilePadding))px; @Model.Tile.AdditionalCss">
        <div class="temp">
            <canvas class="condition-icon" width="@(Model.Settings.BaseTileSizePx * 0.75)" height="@(Model.Settings.BaseTileSizePx * 0.75)"></canvas>
            <span class="value weather-value" value-temp></span>
        </div>
        <span class="value weather-value" value-summary></span>
        <span class="value weather-value" value-hilo></span>
        <span class="value weather-value" value-rain></span>
        <span class="value weather-value" value-wind></span>
    </div>