@model TileWithLayoutViewModel

<div id="tile-@Model.Tile.Name" data-tile-name="@Model.Tile.Name" data-tile-type="@Model.Tile.TypeProper" class="tile tile-type--@Model.Tile.Type" style="left: @(Model.Layout.XPos)px; top: @(Model.Layout.YPos)px; width: @(Model.Tile.GetTileSizeX(ViewBag.BaseTileSizePx, ViewBag.TilePadding))px; height: @(Model.Tile.GetTileSizeY(ViewBag.BaseTileSizePx, ViewBag.TilePadding))px;">
    <span class="value @(((LabelTile)Model.Tile).CssClass)">@(((LabelTile)Model.Tile).Text)</span>
</div>