@model List<Page>
@{
    ViewData["Title"] = "Pages";
}
@section TopNav
{
    <div class="ui top attached mini menu">
        <div class="item">
            <div class="ui large breadcrumb">
                <a class="section" asp-controller="Admin" asp-action="Index">
                    <i class="home icon"></i> Home
                </a>
                <div class="divider"> / </div>
                <div class="section active">
                    <i class="file icon"></i> Pages
                </div>
            </div>
        </div>
    </div>
}
<h1>Dashboard Pages</h1>

<partial name="Alerts" />

<p>Define your dashboard pages here.</p>
<p>Pages are a collection of one or more tiles, and a layout for those tiles.</p>

<a asp-action="AddPage" class="ui green icon labeled button">
    <i class="add icon"></i>
    Add Page
</a>

<table class="ui compact striped celled collapsing definition table">
    <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Description</th>
            <th>URL</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @if (Model == null || !Model.Any())
        {
            <tr class="info"><td colspan="6"><em>No pages. This is bad - you need to have at least one page for stuff to function.</em></td></tr>
        }
        else
        {
            @foreach (var p in Model)
            {
                <tr>
                    <td>
                        <a class="ui mini yellow basic circular icon button" asp-action="EditPage" asp-route-page="@p.Name" title="Edit this page">
                            <i class="pencil icon"></i>
                        </a>
                        <a class="ui mini red basic circular icon button" asp-action="DeletePage" asp-route-page="@p.Name" title="Delete this page">
                            <i class="trash icon"></i>
                        </a>
                    </td>
                    <td><strong>@p.Name @(Html.Raw(p.IsDefaultPage ? "<i class=\"blue check circle icon\" title=\"This is the default page.\"></i>" : ""))</strong></td>
                    <td>@p.Description</td>
                    <td><a target="_blank" href="/d/@(p.Name)"><i class="small external link icon"></i> /d/@(p.Name)</a></td>
                    <td>
                        <a asp-action="Index" asp-controller="AdminTile" asp-route-page="@p.Name" class="ui icon labeled green button"><i class="expand icon"></i> Manage @(p.Tiles.Count) Tiles</a>
                        <a asp-action="Layout" asp-route-page="@p.Name" class="ui icon labeled blue button"><i class="layer group icon"></i> Edit Layout</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>