@model IEnumerable<TileWithLayoutViewModel>
@{
    ViewData["Title"] = "Customize Layout";
}
@section TopNav
{
    <div class="ui top attached mini menu">
        <div class="item">
            <div class="ui large breadcrumb">
                <a class="section" asp-controller="Admin" asp-action="Index">
                    <i class="home icon"></i> Home
                </a>
                <div class="divider"> / </div>
                <a class="section" asp-controller="AdminPages" asp-action="Index">
                    <i class="file icon"></i> Pages
                </a>
                <div class="divider"> / </div>
                <div class="section">@Context.Request.RouteValues["page"]</div>
                <div class="divider"> / </div>
                <div class="section active">
                    <i class="layer group icon"></i> Layout
                </div>
            </div>
        </div>
    </div>
}

@section Header
{
    <style type="text/css">
        .preview-layout-grid
        {
            padding: @(ViewBag.PreviewPadding)px;
        }
        .preview-layout-grid > .preview-layout-item
        {
            width: @(ViewBag.PreviewSize)px;
            height: @(ViewBag.PreviewSize)px;
        }

        @for(var i = 2; i <= 8; i++)
        {
            @:.preview-layout-grid > .tile-@(i)w
            @:{
            @:    width: @(ViewBag.PreviewSize * i + (ViewBag.PreviewPadding * (i - 1)))px;
            @:}
            @:.preview-layout-grid > .tile-@(i)h
            @:{
            @:    height: @(ViewBag.PreviewSize * i + (ViewBag.PreviewPadding * (i - 1)))px;
            @:}
        }
    </style>
}

@section Scripts
{
    <script>
        window.ccOptions = window.ccOptions || {};
        window.ccOptions.tilePadding = @ViewBag.Padding;
        window.ccOptions.tilePreviewPadding = @ViewBag.PreviewPadding;
        window.ccOptions.tilePreviewSize = @ViewBag.PreviewSize;
    </script>
}

<h1><i class="th large icon"></i> Customize Layout</h1>

<partial name="Alerts" />

<p>Drag and drop your tiles below, then press <b>Save</b> when finished.</p>

<div class="ui grid">
    <div class="divided row">
        <div class="four wide widescreen five wide large screen six wide computer sixteen wide mobile column">
            <h2>Layout Settings</h2>
            <vc:layout-settings />
        </div>
        <div class="twelve wide widescreen eleven wide large screen ten wide computer sixteen wide mobile column">
            <form asp-action="UpdateLayout" asp-route-page="@Context.Request.RouteValues["page"]" method="post">
                <h2>Tile Layout and Preview (50% Scale)</h2>
                <p>
                    <button type="submit" class="ui small icon labeled green button">
                        <i class="check icon"></i>
                        Save Layout
                    </button>
                    <button type="button" id="auto-layout" class="ui small icon labeled grey button">
                        <i class="undo alternate icon"></i>
                        Reset Layout
                    </button>
                </p>
                <div class="scroll-overflow">
                    <div class="preview-layout-grid" style="min-width: @(ViewBag.PreviewWidth)px; max-width: @(ViewBag.PreviewWidth)px; min-height: @(ViewBag.PreviewHeight)px; max-height: @(ViewBag.PreviewHeight)px">
                        @foreach (var item in Model.OrderBy(m => m.Layout?.Index ?? 9999))
                        {
                            <div class="preview-layout-item tile-type-@(item.Tile.Type) tile-@(item.Tile.SizeX)w tile-@(item.Tile.SizeY)h" style="position: absolute; top: @(item.Layout?.YPos / 2)px; left: @(item.Layout?.XPos / 2)px;" data-tile-name="@item.Tile.Name">
                                <span class="@item.Tile.IconClassName"></span>
                                @item.Tile.Name
                            </div>
                        }
                    </div>
                </div>
                <input id="layout-serialized" name="tilelayout" type="hidden" />
            </form>
        </div>
    </div>
</div>

