@model IEnumerable<TileWithLayoutViewModel>
@{
    ViewData["Title"] = "Customize Layout";
}

@section Header
{
    <style type="text/css">
        .preview-layout-grid
        {
            padding: @(ViewBag.PreviewPadding)px;
        }
        .preview-layout-grid > .preview-layout-item
        {
            width: @(ViewBag.PreviewSize)px;
            height: @(ViewBag.PreviewSize)px;
        }
        .preview-layout-grid > .tile-2w
        {
            width: @(ViewBag.PreviewSize * 2 + ViewBag.PreviewPadding)px;
        }
        .preview-layout-grid > .tile-3w
        {
            width: @(ViewBag.PreviewSize * 3 + (ViewBag.PreviewPadding * 2))px;
        }
        .preview-layout-grid > .tile-4w
        {
            width: @(ViewBag.PreviewSize * 4 + (ViewBag.PreviewPadding * 3))px;
        }
        .preview-layout-grid > .tile-2h
        {
            height: @(ViewBag.PreviewSize * 2 + ViewBag.PreviewPadding)px;
        }
        .preview-layout-grid > .tile-3h
        {
            height: @(ViewBag.PreviewSize * 3 + (ViewBag.PreviewPadding * 2))px;
        }
        .preview-layout-grid > .tile-4h
        {
            height: @(ViewBag.PreviewSize * 4 + (ViewBag.PreviewPadding * 3))px;
        }
    </style>
}

@section Scripts
{
    <script>
        window.ccOptions = window.ccOptions || {};
        window.ccOptions.tilePadding = @ViewBag.Padding;
        window.ccOptions.tilePreviewPadding = @ViewBag.PreviewPadding;
        window.ccOptions.tilePreviewSize = @ViewBag.PreviewSize;
    </script>
}

<h1><i class="th large icon"></i> Customize Layout</h1>

<partial name="Alerts" />

<p>Drag and drop your tiles below, then press <b>Save</b> when finished.</p>

<div class="ui doubling grid">
    <div class="row">
        <div class="four wide column">
            <h2>Layout Settings</h2>
            <vc:layout-settings />
        </div>
        <div class="twelve wide column">
            <form asp-action="UpdateLayout" asp-route-page="@Context.Request.RouteValues["page"]" method="post">
                <h2>Tile Layout and Preview (50% Scale)</h2>
                <p>
                    <button type="submit" class="ui small icon labeled green button">
                        <i class="check icon"></i>
                        Save Layout
                    </button>
                    <button type="button" id="auto-layout" class="ui small icon labeled grey button">
                        <i class="refresh icon"></i>
                        Auto Layout
                    </button>
                </p>
                <div class="preview-layout-grid" style="min-width: @(ViewBag.PreviewWidth)px; max-width: @(ViewBag.PreviewWidth)px; min-height: @(ViewBag.PreviewHeight)px; max-height: @(ViewBag.PreviewHeight)px">
                    @foreach (var item in Model.OrderBy(m => m.Layout?.Index ?? 9999))
                    {
                        <div class="preview-layout-item tile-type-@(item.Tile.Type) tile-@(item.Tile.SizeX)w tile-@(item.Tile.SizeY)h" style="position: absolute; top: @(item.Layout?.YPos / 2)px; left: @(item.Layout?.XPos / 2)px;" data-tile-name="@item.Tile.Name">
                            <span class="@item.Tile.IconClassName"></span>
                            @item.Tile.Name
                        </div>
                    }
                </div>
                <input id="layout-serialized" name="tilelayout" type="hidden" />
            </form>
        </div>
    </div>
</div>

