@model WeatherTile
@{
    ViewData["Title"] = "Add Tile: Weather";
}

<h1><span class="va-top @(new WeatherTile().IconClassName)"></span> @(Model == null ? "Add" : "Edit") Tile: Weather</h1>

<form class="ui form" method="post" asp-action="Save" asp-route-page="@Context.Request.RouteValues["page"]">
    <input type="hidden" name="originalName" value="@Model?.Name" />
    <div class="ui grid">
        <div class="row">
            <div class="six wide computer twelve wide tablet sixteen wide mobile column">
                <h3>Basic Tile Info</h3>
                <div class="ui segment">
                    <div class="field">
                        <label asp-for="Name"></label>
                        <div class="ui left icon input">
                            <i class="tag icon"></i>
                            <input asp-for="Name" />
                        </div>
                        <span class="ui up pointing small red label" asp-validation-for="Name"></span>
                        <p><small>An internal name to identify this tile, not shown on the dashboard.</small></p>
                    </div>
                    <div class="inline field">
                        <label asp-for="SizeX"></label>
                        <i class="arrows alternate horizontal icon"></i>
                        <select class="ui dropdown" asp-for="SizeX">
                            <option value="1">1x</option>
                            <option value="2">2x</option>
                            <option value="3">3x</option>
                            <option value="4">4x</option>
                        </select>
                        <span class="ui up pointing small red label" asp-validation-for="SizeX"></span>
                    </div>
                    <div class="inline field">
                        <label asp-for="SizeY"></label>
                        <i class="arrows alternate vertical icon"></i>
                        <select class="ui dropdown" asp-for="SizeY">
                            <option value="1">1x</option>
                            <option value="2">2x</option>
                            <option value="3">3x</option>
                            <option value="4">4x</option>
                        </select>
                        <span class="ui up pointing small red label" asp-validation-for="SizeY"></span>
                    </div>
                    <div class="field">
                        <label asp-for="AdditionalCss"></label>
                        <textarea asp-for="AdditionalCss"></textarea>
                        <span class="ui up pointing small red label" asp-validation-for="AdditionalCss"></span>
                        <p><small>Enter one or more CSS properties. Don't enclose them with <code>{ ... }</code>.</small></p>
                    </div>
                </div>
                <h3>Weather Details</h3>
                <div class="ui segment">
                    <div class="field">
                        <label>Temperature Sensor</label>
                        <select class="ui search selection dropdown" asp-for="EntityId" asp-items="ViewBag.Entities"></select>
                        <span class="ui up pointing small red label" asp-validation-for="EntityId"></span>
                        <div><small>Recommended: <code>sensor.dark_sky_apparent_temperature</code></small></div>
                    </div>
                    <div class="field">
                        <label asp-for="IconEntity"></label>
                        <select class="ui search selection dropdown" asp-for="IconEntity" asp-items="ViewBag.Entities"></select>
                        <span class="ui up pointing small red label" asp-validation-for="IconEntity"></span>
                        <div><small>Recommended: <code>sensor.dark_sky_icon</code></small></div>
                    </div>
                    <div class="field">
                        <label asp-for="SummaryEntity"></label>
                        <select class="ui search selection dropdown" asp-for="SummaryEntity" asp-items="ViewBag.Entities"></select>
                        <span class="ui up pointing small red label" asp-validation-for="SummaryEntity"></span>
                        <div><small>Recommended: <code>sensor.dark_sky_summary</code></small></div>
                    </div>
                    <div class="field">
                        <label asp-for="PrecipChanceEntity"></label>
                        <select class="ui search selection dropdown" asp-for="PrecipChanceEntity" asp-items="ViewBag.Entities"></select>
                        <span class="ui up pointing small red label" asp-validation-for="PrecipChanceEntity"></span>
                        <div><small>Recommended: <code>sensor.dark_sky_precip_probability</code></small></div>
                    </div>
                    <div class="field">
                        <label asp-for="HighTempEntity"></label>
                        <select class="ui search selection dropdown" asp-for="HighTempEntity" asp-items="ViewBag.Entities"></select>
                        <span class="ui up pointing small red label" asp-validation-for="HighTempEntity"></span>
                        <div><small>Recommended: <code>sensor.dark_sky_daytime_high_temperature_0d</code></small></div>
                    </div>
                    <div class="field">
                        <label asp-for="LowTempEntity"></label>
                        <select class="ui search selection dropdown" asp-for="LowTempEntity" asp-items="ViewBag.Entities"></select>
                        <span class="ui up pointing small red label" asp-validation-for="LowTempEntity"></span>
                        <div><small>Recommended: <code>sensor.dark_sky_overnight_low_temperature_0d</code></small></div>
                    </div>
                    <div class="field">
                        <label asp-for="WindSpeedEntity"></label>
                        <select class="ui search selection dropdown" asp-for="WindSpeedEntity" asp-items="ViewBag.Entities"></select>
                        <span class="ui up pointing small red label" asp-validation-for="WindSpeedEntity"></span>
                        <div><small>Recommended: <code>sensor.dark_sky_wind_speed</code></small></div>
                    </div>
                    <div class="field">
                        <div class="ui checkbox">
                            <input asp-for="RoundWindSpeed" />
                            <label asp-for="RoundWindSpeed"></label>
                        </div>
                        <span class="ui up pointing small red label" asp-validation-for="RoundWindSpeed"></span>
                        <div><small>Round wind speed, disabling decimal points.</small></div>
                    </div>

                    <div class="field">
                        <label asp-for="WindDirectionEntity"></label>
                        <select class="ui search selection dropdown" asp-for="WindDirectionEntity" asp-items="ViewBag.Entities"></select>
                        <span class="ui up pointing small red label" asp-validation-for="WindDirectionEntity"></span>
                        <div><small>Recommended: <code>sensor.dark_sky_wind_bearing</code></small></div>
                    </div>
                </div>
                <div class="field">
                    <button type="submit" class="ui green icon labeled button">
                        <i class="@(Model == null ? "plus" : "save") icon"></i>
                        @(Model == null ? "Add" : "Edit") Tile
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>