@model DateTile
@{
    ViewData["Title"] = "Add Tile: Date";
}

<h1><span class="va-top @(new DateTile().IconClassName)"></span> @(Model == null ? "Add" : "Edit") Tile: Date</h1>

<form class="ui form" method="post" asp-action="Save" asp-route-page="@Context.Request.RouteValues["page"]">
    <input type="hidden" name="originalName" value="@Model?.Name" />
    <div class="ui grid">
        <div class="row">
            <div class="six wide computer twelve wide tablet sixteen wide mobile column">
                <h3>Basic Tile Info</h3>
                <div class="ui segment">
                    <div class="field">
                        <label asp-for="Name"></label>
                        <div class="ui left icon input">
                            <i class="tag icon"></i>
                            <input asp-for="Name" />
                        </div>
                        <span class="ui up pointing small red label" asp-validation-for="Name"></span>
                        <p><small>An internal name to identify this tile, not shown on the dashboard.</small></p>
                    </div>
                    <div class="inline field">
                        <label asp-for="SizeX"></label>
                        <i class="arrows alternate horizontal icon"></i>
                        <select class="ui dropdown" asp-for="SizeX">
                            <option value="1">1x</option>
                            <option value="2">2x</option>
                            <option value="3">3x</option>
                            <option value="4">4x</option>
                        </select>
                        <span class="ui up pointing small red label" asp-validation-for="SizeX"></span>
                    </div>
                    <div class="inline field">
                        <label asp-for="SizeY"></label>
                        <i class="arrows alternate vertical icon"></i>
                        <select class="ui dropdown" asp-for="SizeY">
                            <option value="1">1x</option>
                            <option value="2">2x</option>
                            <option value="3">3x</option>
                            <option value="4">4x</option>
                        </select>
                        <span class="ui up pointing small red label" asp-validation-for="SizeY"></span>
                    </div>
                    <div class="field">
                        <label asp-for="AdditionalCss"></label>
                        <textarea asp-for="AdditionalCss"></textarea>
                        <span class="ui up pointing small red label" asp-validation-for="AdditionalCss"></span>
                        <p><small>Enter one or more CSS properties. Don't enclose them with <code>{ ... }</code>.</small></p>
                    </div>
                </div>
                <h3>Date Tile Info</h3>
                <div class="ui segment">
                    <div class="field">
                        <label asp-for="TimeZoneId"></label>
                        <select asp-for="TimeZoneId" class="ui search dropdown">
                            <option value="">Current System Time Zone</option>
                            @foreach (var tz in TimeZoneInfo.GetSystemTimeZones())
                            {
                                <option value="@tz.Id">@tz.DisplayName</option>
                            }
                        </select>
                        <span class="ui up pointing small red label" asp-validation-for="TimeZoneId"></span>
                        <p><small>An internal name to identify this tile, not shown on the dashboard.</small></p>
                    </div>
                    <div class="inline field">
                        <label asp-for="DateFormatString"></label>
                        <div class="ui left icon input">
                            <i class="calendar icon"></i>
                            <input asp-for="DateFormatString" />
                        </div>
                        <span class="ui up pointing small red label" asp-validation-for="DateFormatString"></span>
                        <div><small>Specify a custom date format string for the date line. <a target="_blank" href="https://docs.microsoft.com/en-us/dotnet/standard/base-types/custom-date-and-time-format-strings">Refer to the documentation for examples.</a></small></div>
                    </div>
                    <div class="inline field">
                        <label asp-for="TimeFormatString"></label>
                        <div class="ui left icon input">
                            <i class="clock icon"></i>
                            <input asp-for="TimeFormatString" />
                        </div>
                        <span class="ui up pointing small red label" asp-validation-for="TimeFormatString"></span>
                        <div><small>Specify a custom time format string for the time line. <a target="_blank" href="https://docs.microsoft.com/en-us/dotnet/standard/base-types/custom-date-and-time-format-strings">Refer to the documentation for examples.</a></small></div>
                    </div>
                </div>
                <div class="field">
                    <button type="submit" class="ui green icon labeled button">
                        <i class="@(Model == null ? "plus" : "save") icon"></i>
                        @(Model == null ? "Add" : "Edit") Tile
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>