@model DateTile
@{
    ViewData["Title"] = (Model == null ? "Add" : "Edit") + " Tile: Date";

    var header = @"<span class=""va-bottom " + new DateTile().IconClassName + @"""></span> " + (Model == null ? "Add" : "Edit") + " Tile: Date";
}

@section TopNav
{
    <partial name="BaseTileEditBreadcrumbs" model="header" />
}

<h1>
    @Html.Raw(header)
</h1>

<form class="ui form" method="post" asp-action="Save" asp-route-page="@Context.Request.RouteValues["page"]">
    <input type="hidden" name="originalName" value="@Model?.Name" />
    <div class="ui grid">
        <div class="row">

            <div class="six wide widescreen eight wide large screen twelve wide computer fourteen wide tablet sixteen wide mobile column">
                <partial name="BaseTileEditor" model="@Model" />
            </div>

            <div class="six wide widescreen eight wide large screen twelve wide computer fourteen wide tablet sixteen wide mobile column">
                <h3>Date Tile Info</h3>
                <div class="ui segment">
                    <div class="field">
                        <label asp-for="TimeZoneId"></label>
                        <select asp-for="TimeZoneId" class="ui search dropdown">
                            <option value="">Current System Time Zone</option>
                            @for (var i = -12.0; i <= 12.0; i += 0.5)
                            {
                                <option value="@i">GMT@(i.ToString("+0.#;-0.#"))</option>
                            }
                        </select>
                        <span class="ui up pointing small red label" asp-validation-for="TimeZoneId"></span>
                        <p><small>Select your timezone offset. <b>Note:</b> At this time, daylight savings time automatic changes are not supported.</small></p>
                    </div>
                    <div class="inline field">
                        <label asp-for="DateFormatString"></label>
                        <div class="ui left icon input">
                            <i class="calendar icon"></i>
                            <input asp-for="DateFormatString" />
                        </div>
                        <span class="ui up pointing small red label" asp-validation-for="DateFormatString"></span>
                        <div><small>Specify a custom date format string for the date line. <a target="_blank" href="https://docs.microsoft.com/en-us/dotnet/standard/base-types/custom-date-and-time-format-strings">Refer to the documentation for examples.</a></small></div>
                    </div>
                    <div class="inline field">
                        <label asp-for="TimeFormatString"></label>
                        <div class="ui left icon input">
                            <i class="clock icon"></i>
                            <input asp-for="TimeFormatString" />
                        </div>
                        <span class="ui up pointing small red label" asp-validation-for="TimeFormatString"></span>
                        <div><small>Specify a custom time format string for the time line. <a target="_blank" href="https://docs.microsoft.com/en-us/dotnet/standard/base-types/custom-date-and-time-format-strings">Refer to the documentation for examples.</a></small></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="sixteen wide column">
                <button type="submit" class="ui green icon labeled button">
                    <i class="@(Model == null ? "plus" : "save") icon"></i>
                    @(Model == null ? "Add" : "Edit") Tile
                </button>
            </div>
        </div>
    </div>
</form>