<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HA Command Center Admin</title>

    <environment include="Development">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.7.8/semantic.css" integrity="sha256-RA4g7qvjtBTtZXeL6LEnJJP0nkcy3ZsDcEFFRx3DBCE=" crossorigin="anonymous" />
        <link rel="stylesheet" href="https://cdn.materialdesignicons.com/3.9.97/css/materialdesignicons.css" crossorigin="anonymous" />
        <link type="text/css" rel="stylesheet" href="~/css/admin.css" asp-append-version="true" />
    </environment>
    <environment include="Staging,Production">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.7.8/semantic.min.css" integrity="sha256-pquaucmYjfUqK251HC4uCXIKb2TQ4brXeUN2STYrJeg=" crossorigin="anonymous" />
        <link rel="stylesheet" href="https://cdn.materialdesignicons.com/3.9.97/css/materialdesignicons.min.css" crossorigin="anonymous" />
        <link type="text/css" rel="stylesheet" href="~/css/admin.min.css" asp-append-version="true" />
    </environment>

    @RenderSection("Header", false)
</head>
<body>

    <div class="ui fixed visible inverted left vertical sidebar accordion menu">
        <partial name="AdminNavigation" />
    </div>
    <div class="admin-contents">
        @RenderSection("TopNav", false)
        <div class="ui basic segment fluid container">
            @RenderBody()
        </div>
    </div>

    <environment include="Development">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.7.8/semantic.js" integrity="sha256-GwHtTFU//A411xVTt7fhbE+No70qUGnROE+QQZGaUXc=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/draggabilly/2.2.0/draggabilly.pkgd.js" integrity="sha256-plPcLPBDrqktpGfw/w66ktJdMXfYWEVNBORHUOAO/i0=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/packery/2.1.2/packery.pkgd.js" integrity="sha256-62nn/5By0QIIvNFYlVHeF1CqfrMWTVzYp4MwoMFQRaQ=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jscolor/2.0.4/jscolor.js" integrity="sha256-y1h79SSb3icyBC/BrLCzoexQZAOGwlvoAr85biY4QGw=" crossorigin="anonymous"></script>
        <script src="~/js/app.js" asp-append-version="true"></script>
    </environment>
    <environment include="Staging,Production">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.7.8/semantic.min.js" integrity="sha256-3bFl66a0RabEYPxX6l8V3hE4O2t1v5JZ6zWtNNRCsSQ=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/draggabilly/2.2.0/draggabilly.pkgd.min.js" integrity="sha256-M8sar7tX1FUCUAetmwH0DiWc03emEfpnkqyatz1iSAM=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/packery/2.1.2/packery.pkgd.min.js" integrity="sha256-qgHmqWpw9DcQLJgcK+YvMiLjEHTVuWQQ1eexLdiOzzU=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jscolor/2.0.4/jscolor.min.js" integrity="sha256-CJWfUCeP3jLdUMVNUll6yQx37gh9AKmXTRxvRf7jzro=" crossorigin="anonymous"></script>
        <script src="~/js/app.min.js" asp-append-version="true"></script>
    </environment>

    <script>
        window.ccOptions = window.ccOptions || {};
        window.ccOptions.mode = 1;
    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>
