
@model MediaTile
@{
    ViewData["Title"] = (Model == null ? "Add" : "Edit") + " Tile: Media";
}

<h1><span class="va-top @(new CameraTile().IconClassName)"></span> @(Model == null ? "Add" : "Edit") Tile: Media</h1>

<form class="ui form" method="post" asp-action="Save" asp-route-page="@Context.Request.RouteValues["page"]">
    <input type="hidden" name="originalName" value="@Model?.Name" />
    <div class="ui grid">
        <div class="row">
            <div class="six wide computer twelve wide tablet sixteen wide mobile column">
                <h3>Basic Tile Info</h3>
                <div class="ui segment">
                    <div class="field">
                        <label asp-for="Name"></label>
                        <div class="ui left icon input">
                            <i class="tag icon"></i>
                            <input asp-for="Name" />
                        </div>
                        <span class="ui up pointing small red label" asp-validation-for="Name"></span>
                        <p><small>An internal name to identify this tile, not shown on the dashboard.</small></p>
                    </div>
                    <div class="inline field">
                        <label asp-for="SizeX"></label>
                        <i class="arrows alternate horizontal icon"></i>
                        <select class="ui dropdown" asp-for="SizeX">
                            <option value="1">1x</option>
                            <option value="2">2x</option>
                            <option value="3">3x</option>
                            <option value="4">4x</option>
                        </select>
                        <span class="ui up pointing small red label" asp-validation-for="SizeX"></span>
                    </div>
                    <div class="inline field">
                        <label asp-for="SizeY"></label>
                        <i class="arrows alternate vertical icon"></i>
                        <select class="ui dropdown" asp-for="SizeY">
                            <option value="1">1x</option>
                            <option value="2">2x</option>
                            <option value="3">3x</option>
                            <option value="4">4x</option>
                        </select>
                        <span class="ui up pointing small red label" asp-validation-for="SizeY"></span>
                    </div>
                    <div class="field">
                        <label asp-for="AdditionalCss"></label>
                        <textarea asp-for="AdditionalCss"></textarea>
                        <span class="ui up pointing small red label" asp-validation-for="AdditionalCss"></span>
                        <p><small>Enter one or more CSS properties. Don't enclose them with <code>{ ... }</code>.</small></p>
                    </div>
                </div>
                <h3>Camera Tile Details</h3>
                <div class="ui segment">
                    <div class="field">
                        <label asp-for="EntityId"></label>
                        <select class="ui search selection dropdown" asp-for="EntityId" asp-items="ViewBag.Entities"></select>
                        <span class="ui up pointing small red label" asp-validation-for="EntityId"></span>
                    </div>
                    <div class="field">
                        <label asp-for="RefreshRate"></label>
                        <div class="ui left icon input">
                            <i class="refresh icon"></i>
                            <input asp-for="RefreshRate" />
                        </div>
                        <span class="ui up pointing small red label" asp-validation-for="RefreshRate"></span>
                        <p><small>The rate, in seconds, to automatically refresh the camera image. Enter a value from 1 to 600.</small></p>
                    </div>
                    <div class="field">
                        <label asp-for="ImageCropMode"></label>
                        <select asp-for="ImageCropMode" class="ui dropdown">
                            <option value="cover">Cover (Resize and Zoom to Fit)</option>
                            <option value="contain">Contain (Resize Showing All with Borders)</option>
                            <option value="stretch">Stretch Image to Fit</option>
                        </select>
                        <span class="ui up pointing small red label" asp-validation-for="ImageCropMode"></span>
                        <p><small>Specify how the image should be displayed in the tile.</small></p>
                    </div>
                    <div class="field">
                        <div class="ui checkbox">
                            <input asp-for="ShowTitle" />
                            <label asp-for="ShowTitle"></label>
                        </div>
                        <span class="ui up pointing small red label" asp-validation-for="ShowTitle"></span>
                        <div><small>Whether or not to show the title of what's playing currently.</small></div>
                    </div>
                    <div class="field">
                        <div class="ui checkbox">
                            <input asp-for="ShowLabel" />
                            <label asp-for="ShowLabel"></label>
                        </div>
                        <span class="ui up pointing small red label" asp-validation-for="ShowLabel"></span>
                        <div><small>Whether or not to show the entity name.</small></div>
                    </div>
                    <div class="field">
                        <label asp-for="OverrideLabel"></label>
                        <div class="ui left icon input">
                            <i class="font icon"></i>
                            <input asp-for="OverrideLabel" />
                        </div>
                        <span class="ui up pointing small red label" asp-validation-for="OverrideLabel"></span>
                        <p><small>By default, the entity's <em>friendly name</em> will be used. Enter an override if desired.</small></p>
                    </div>

                </div>
                <div class="field">
                    <button type="submit" class="ui green icon labeled button">
                        <i class="@(Model == null ? "plus" : "save") icon"></i>
                        @(Model == null ? "Add" : "Edit") Tile
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>