@model HADotNet.Core.Models.DiscoveryObject
@{
    ViewData["Title"] = "Admin Area";
}
@section TopNav
{
    <div class="ui top attached mini menu">
        <div class="item">
            <div class="ui large breadcrumb">
                <a class="section" asp-controller="Admin" asp-action="Index">
                    <i class="home icon"></i> Home
                </a>
                <div class="divider"> / </div>
                <div class="active section">
                    <i class="server icon"></i> Technical Info
                </div>
            </div>
        </div>
    </div>
}

<h1>HA Command Center &ndash; Technical Info</h1>

<div class="ui stackable grid">
    <div class="two column row">
        <div class="column">
            <h2>Environment Variables</h2>
            @if (ViewBag.Env is Dictionary<string, string> envVars)
            {
                <dl>
                    @foreach (var env in envVars)
                    {
                        <dt><code>@env.Key</code></dt>
                        <dd>@env.Value</dd>
                    }
                </dl>
            }
            else
            {
                <p><em>No environment variables present. (This is probably bad... you should have at least one.)</em></p>
            }
        </div>
        <div class="column">
            <h2>Home Assistant Info</h2>
            <dl>
                <dt>Location / Instance Name</dt>
                <dd>@Model.LocationName</dd>
                <dt>Base URL</dt>
                <dd>@Model.BaseUrl</dd>
                <dt>Version</dt>
                <dd>@Model.Version</dd>
            </dl>

            <h2>Environment Info</h2>
            <dl>
                <dt>CPU Architecture</dt>
                <dd><em>Processor:</em> @System.Runtime.InteropServices.RuntimeInformation.ProcessArchitecture</dd>
                <dd><em>OS:</em> @System.Runtime.InteropServices.RuntimeInformation.OSArchitecture</dd>
                <dt>Process Bitness</dt>
                <dd>@(Environment.Is64BitProcess ? "64-bit" : "32-bit")</dd>
                <dt>OS</dt>
                <dd>@System.Runtime.InteropServices.RuntimeInformation.OSDescription (@(Environment.Is64BitOperatingSystem ? "64-bit" : "32-bit"))</dd>
                <dt>Hostname</dt>
                <dd>@(System.Net.Dns.GetHostName())</dd>
                <dt>Local IP(s)</dt>
                <dd>@Html.Raw(string.Join("<br />", System.Net.Dns.GetHostEntry(System.Net.Dns.GetHostName()).AddressList.Where(a => a.AddressFamily == System.Net.Sockets.AddressFamily.InterNetwork).Select(a => a.ToString())))</dd>
            </dl>
        </div>
    </div>
</div>