@model LabelTile
@{
    ViewData["Title"] = (Model == null ? "Add" : "Edit") + " Tile: Label";

    var header = @"<span class=""va-bottom " + new LabelTile().IconClassName + @"""></span> " + (Model == null ? "Add" : "Edit") + " Tile: Label";
}

@section TopNav
{
    <partial name="BaseTileEditBreadcrumbs" model="header" />
}

<h1>
    @Html.Raw(header)
</h1>

<form class="ui form" method="post" asp-action="Save" asp-route-page="@Context.Request.RouteValues["page"]">
    <input type="hidden" name="originalName" value="@Model?.Name" />
    <div class="ui grid">
        <div class="row">

            <div class="six wide widescreen eight wide large screen twelve wide computer fourteen wide tablet sixteen wide mobile column">
                <partial name="BaseTileEditor" model="@Model" />
            </div>

            <div class="six wide widescreen eight wide large screen twelve wide computer fourteen wide tablet sixteen wide mobile column">
                <h3>Label Tile Details</h3>
                <div class="ui segment">
                    <div class="field">
                        <label asp-for="Text"></label>
                        <div class="ui left icon input">
                            <i class="font icon"></i>
                            <input asp-for="Text" />
                        </div>
                        <span class="ui up pointing small red label" asp-validation-for="Text"></span>
                    </div>
                    <div class="field">
                        <label asp-for="CssClass"></label>
                        <div class="ui left icon input">
                            <i class="large icon mdi mdi-language-css3"></i>
                            <input asp-for="CssClass" />
                        </div>
                        <span class="ui up pointing small red label" asp-validation-for="CssClass"></span>
                        <p><small>Enter one or more CSS class names to apply to the label, each separated by a space.</small></p>
                    </div>
                    <div class="field">
                        <label asp-for="AdditionalCss"></label>
                        <textarea asp-for="AdditionalCss"></textarea>
                        <span class="ui up pointing small red label" asp-validation-for="AdditionalCss"></span>
                        <p><small>Enter one or more CSS properties. Don't enclose them with <code>{ ... }</code>.</small></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="sixteen wide column">
                <button type="submit" class="ui green icon labeled button">
                    <i class="@(Model == null ? "plus" : "save") icon"></i>
                    @(Model == null ? "Add" : "Edit") Tile
                </button>
            </div>
        </div>
    </div>
</form>